<p>success works!</p>

<div class="container">
    <div class="row" style="justify-content: center;">
        <div class="col-md-6">
            <div class="modal-content" style="border:none;border-radius: 5px;">
                <div class="modal-header" style="    background: #1ab394;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;">
                    <h4 class="modal-title text-center"><img src="assets/images/check.png" alt=""></h4>
                </div>
                <div class="modal-body">
                    <p style="text-align:center;color:#1ab394;font-size:24px;font-weight:500;">Cheers!
                        Payment Successful!</p>
                    <p style="color:#555555;">Transaction ID:&nbsp;<strong
                            style="font-weight:500;font-size:16px;color: #222222;">{{orderid}}</strong><br>Payment
                        amount:&nbsp;<strong
                            style="font-weight:500;font-size:16px;color: #222222;">{{amount}}</strong><br>The
                        above rent shall credited to your landlord's bank account in<strong
                            style="font-weight:500;font-size:15px;color: #222222;"> 3 working
                            days</strong></p>
                </div>
                <div class="modal-footer">
                    You will be redirected to home page shortley
                </div>
            </div>

        </div>
    </div>

</div>
<!-- </div>
</div> -->